<header>
    <h1>General Journal</h1>
    <div id="banner-links-header">
        <div id="banner-links-left">
    <a class="banner-link" href="/">Home</a>    
    <a class="banner-link" href="/journal/">My Journal</a>
    <a class="banner-link" href="/about/">About</a>
</div>
<div id="banner-links-right">
    <h7><%=loginGreet%> | </h7>
    <a class="banner-link-2" href="/user/<%=loginVerify%>/"><%=loginText%></a>
    <%if(signUpText==="Sign Up"){%><h7>|</h7>
    <a class="banner-link-2" href="<%=signUp%>"><%=signUpText%></a>
    <%}%>
</div>
</div>
</header>
<style>

header{
    padding-bottom: 5px;
    background-color: #9b4dca;

}

.banner-link{
    color: white;
    padding: 0px 20px 0px 0px;
}

.banner-link-2{
    color: white;
    display: inline;
}
h1{
    color: white;
    font-size: 64px;
    text-align: center;
    font-weight: bold;
}

h7{
    font-weight: bold;
    color: rgb(221, 220, 220);
}

#banner-links-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
    color: white;
}
@media only screen and (max-width: 475px) {
    h1{
    color: white;
    font-size: 36px;
    text-align: center;
}
    h7{
    font-weight: bold;
    font-size: 10px;
    color: rgb(221, 220, 220);
}

#banner-links-left{
    font-size: 10px;
    margin-top: 10px;
}
.banner-link{
 font-size: 10px;
}

#banner-links-right{
    font-size: 10px;
    margin-top: 10px;
}

.banner-link-2{
 font-size: 10px;
}}


</style>