<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div>
        <form action="/journal/<%= journal._id %>?_method=PUT" method="post">
          <fieldset>
            <legend>Edit <%= journal.title %></legend>
            <label
            >Title:
              <input type="text" name="title" placeholder="enter journal title" value="<%= journal.title %>" required/>
            </label>
            <label
            >Date:
            <input type="date" name="date" placeholder="enter date" value="<%= journal.date %>" required/>
            </label>
            <label>
            Journal Entry:
            <input type="text" name="content" placeholder="dear diary" value="<%= journal.content %>" required/>
            </label>
            <label>
            Public?
            <input type="checkbox" 
            name="public" 
              <%= journal.public ? "checked" : "" %>
              />
            </label>
            <input type="submit" value="Post Edits!" />
          </fieldset>
        </form>
      </div>
    </main>
  </body>
</html>