<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div id="index-banner">
        <h2 id="location-text">MY JOURNAL</h2><div id="banner-div-backup">
            <a href="/journal/new"><button id="new-entry">New Post</button></a><a href="/journal/"><button id="new-entry">Go to Journal</button></a></div></div></div><br>
        </div>
        <div id="master">
          <h6>My Journal Entries</h6>
            <div class="all-journals">
          <% for (journal of journals) { %>
            <article>
              <div class="entry2">
                <div id="entry3">
                <a href="/journal/<%=journal._id %>"><h4>
                  <%= journal.title %></h4></a>                
                  <p id="content">"<%=journal.content %>"<br>- <%=journal.userKey %></p></div>
                <p id="date"> <%=journal.date.toLocaleDateString('en-US')  %><br><%= journal.public ? "public" : "private" %></p></div>
                </article>
            <% } %>
          </div>
          <div id="line">&nbsp;</div><br>
            <h6>My Public Journal Entries</h6>
            <div class="public-journals">
            <% for (journal of journals) { %>
             <% if(journal.public === true){%>
              <article>
                <div class="entry2">
                  <div class="entry3">
                  <a href="/journal/<%=journal._id %>"><h4>
                  <%= journal.title%></h4></a>
                  <p id="content">"<%=journal.content %>"<br>- <%=journal.userKey %></p></div>
                  <p id="date"> <%=journal.date.toLocaleDateString('en-US')  %><br><%= journal.public ? "public" : "private" %></p></div>
                  </article>
              <% }} %>
            </div>
      </div></div>
    </main>
  </body>
  <style>
      #entry2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
  }

  </style>
</html>