<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <h2 id="location-text">MY JOURNAL</h2>
      <div>
        <article x-data="{showTools: false}">
            <h2><%= journal.title %></h2>
            <p> <%=journal.date %></p>
            <p> <%=journal.content %></p>
            <p> <%= journal.public ? "Public" : "Private" %></p>
            <p> <%=journal.userKey %></p>
            <button x-on:click="showTools = !showTools">Show Options</button>
            <div x-show="showTools" x-transition>
              <a href="/journal/<%= journal._id %>/edit"><button>Edit</button></a>
              <form action="/journal/<%= journal._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete" />
              </form>
              <a href="/journal/"><button>Back to Main</button></a>
            </div>
          </article>
      </div>
    </main>
  </body>
</html>