<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div id="index-banner">
        <h2 id="location-text">EDIT</h2><div id="banner-div-backup">
        <a href="/journal/new"><button id="new-entry">New Post</button></a><a href="/journal/"><button id="new-entry">Go to Journal</button></a></div></div></div><br>
        <div id="container">
      <div id="show-journal">
        <div id="entry2">
        <h4><%= journal.title %></h4>
            <div id="date-status"><p><%=journal.date.toLocaleDateString('en-US')  %><br><%= journal.public ? "Public" : "Private" %></p></div></div>
            <p id="content">"<%=journal.content%>"<br>- <%=journal.userKey %></p></div></div>
            <div id="backup-div">
            <article x-data="{showTools: false}">
              <div id="edit-buttons"></div><button x-on:click="showTools = !showTools">Show Options</button>
                <div x-show="showTools" x-transition>
                  <div id="button-row"><a href="/journal/<%= journal._id %>/edit"><button>Edit</button></a>&nbsp;&nbsp;&nbsp;
                  <form action="/journal/<%= journal._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete" />
                  </form>
                </div>
            </article>
          </div>
          </div>
    </main>
  </body>
  <style>
#container{
    display: flex;
    justify-content: center;
  }
#backup-div{
  display: flex;
  justify-content: center;
}
#content{
  padding-left: 10px;
}
  </style>
</html>