<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/header.ejs") %>
<main>
  <div id="index-banner">
    <h2 id="location-text">HOME</h2><div id="banner-div-backup">
        <a href="/journal/new"><button id="new-entry">New Post</button></a><a href="/journal/"><button id="new-entry">Go to Journal</button></a></div></div></div><br>
  <div id="master-div">
  <h6>Public Journal</h6>
      <div class="entry">
        <% for (journal of journals) { %>
        <% if(journal.userKey === currentUser){ %>
        <article class="own-article">
        <% }else{ %>
          <article class="other-article">
          <%}%>
          <div class="entry-2"><div>
            <a href="/journal/<%=journal._id %>">
<h4>
            <%= journal.title %></h4></a>
            <p id="content">"<%=journal.content %>"<br>- <%=journal.userKey %></p></div>
            <p id="date"><%=journal.date.toLocaleDateString('en-US') %><br><%= journal.public ? "public" : "private" %></p>
          </div>
            </article>
        <% } %>
      </div>
      </div>
    </main>
  </body>
</html>